<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workouttracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".history_2"></activity>
        <activity android:name=".history" />
        <activity
            android:name=".workoutEditor"
            android:label="@string/title_activity_workout_editor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cyclesEditor"
            android:label="@string/title_activity_cycles_editor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exerciseEditor"
            android:label="@string/title_activity_exercise_editior"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActiveWorkout"
            android:label="@string/title_activity_active_workout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkoutDescription"
            android:label="@string/title_activity_workout_description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectWorkout"
            android:label="@string/title_activity_select_workout"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>